div.quotes{
    text-align: center;
}
.quotes h1{
    font-size: 5.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.quotes button{
    width: 260px;
    height: 80px;
    background-color: brown;
    color: white;
}

.quotes p{
    font-size: 36px;
}
button:hover{
    background-color: gold;
}